#head {
	font-size: 20;
	color: white;
}

p {
	color: white;
	font-size: 18;
	text-align: center;
}

.baseball {
	align-self: center;
}


body { 
  background: url("http://eskipaper.com/images/sports-wallpaper-12.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}